# **TMDB Movie Data Cleaning**  
**Data Link**: [TMDB + IMDB (1 Million Movies Dataset)](https://www.kaggle.com/datasets/alanvourch/tmdb-movies-daily-updates)

### **Goals:**
- Understand the basic layout of the data  
- Remove unnecessary columns  
- Handle all missing values to standardize the data for modeling and analysis  
- Add key feature columns to improve data understanding  
- This dataset will continually be refined in eda - this file represents a baseline level clean to remove and understand obvious things about the data

In [553]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [554]:
# load data
df = pd.read_csv('TMDB_all_movies.csv')
df.head(3)

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,budget,imdb_id,...,spoken_languages,cast,director,director_of_photography,writers,producers,music_composer,imdb_rating,imdb_votes,poster_path
0,2,Ariel,7.100,346.0,Released,1988-10-21,0.0,73.0,0.0,tt0094675,...,suomi,"Merja Pulkkinen, Eetu Hilkamo, Turo Pajala, Es...",Aki Kaurismäki,Timo Salminen,Aki Kaurismäki,Aki Kaurismäki,NaN,7.4,9192.0,/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg
1,3,Shadows in Paradise,7.293,409.0,Released,1986-10-17,0.0,74.0,0.0,tt0092149,...,"suomi, English, svenska","Esko Nikkari, Mari Rantasila, Marina Martinoff...",Aki Kaurismäki,Timo Salminen,Aki Kaurismäki,Mika Kaurismäki,NaN,7.4,8023.0,/nj01hspawPof0mJmlgfjuLyJuRN.jpg
2,5,Four Rooms,5.862,2694.0,Released,1995-12-09,4257354.0,98.0,4000000.0,tt0113101,...,English,"Lili Taylor, Madonna, Tamlyn Tomita, Marc Lawr...","Quentin Tarantino, Robert Rodriguez, Allison A...","Phil Parmet, Guillermo Navarro, Andrzej Sekula...","Quentin Tarantino, Robert Rodriguez, Allison A...","Lawrence Bender, Quentin Tarantino, Alexandre ...",Combustible Edison,6.7,114283.0,/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg

In [555]:
initial_rows = len(df)

### Basic Data Understanding

In [556]:
# show list of all columns in dataframe
print(df.columns)

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'budget', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages',
       'cast', 'director', 'director_of_photography', 'writers', 'producers',
       'music_composer', 'imdb_rating', 'imdb_votes', 'poster_path'],
      dtype='object')

In [557]:
# show all details inside of dataframe - > 1 million movie ids
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1103454 entries, 0 to 1103453
Data columns (total 28 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   id                       1103454 non-null  int64
 1   title                    1103435 non-null  object
 2   vote_average             1103452 non-null  float64
 3   vote_count               1103452 non-null  float64
 4   status                   1103452 non-null  object
 5   release_date             975402 non-null   object
 6   revenue                  1103452 non-null  float64
 7   runtime                  1103452 non-null  float64
 8   budget                   1103452 non-null  float64
 9   imdb_id                  621167 non-null   object
 10  original_language        1103452 non-null  object
 11  original_title           1103436 non-null  object
 12  overview                 906337 non-null   object
 13  popularity               1103452 non-null  float64
 14  tagline                  167041 non-null   object
 15  genres                   787333 non-null   object
 16  production_companies     513568 non-null   object
 17  production_countries     665740 non-null   object
 18  spoken_languages         681956 non-null   object
 19  cast                     740450 non-null   object
 20  director                 906763 non-null   object
 21  director_of_photography  273397 non-null   object
 22  writers                  540640 non-null   object
 23  producers                358514 non-null   object
 24  music_composer           112204 non-null   object
 25  imdb_rating              448236 non-null   float64
 26  imdb_votes               448236 non-null   float64
 27  poster_path              799443 non-null   object
dtypes: float64(8), int64(1), object(19)
memory usage: 235.7+ MB

In [558]:
# drop duplicates based on id
df.drop_duplicates(subset='id', inplace=True)

### Create a URL column that is a linkable poster that will be usable for visualizations

In [559]:
df['poster_path']

0          /ojDg0PGvs6R9xYFodRct2kdI6wC.jpg
1          /nj01hspawPof0mJmlgfjuLyJuRN.jpg
2          /75aHn1NOYXh4M7L5shoeQ6NGykP.jpg
3          /3rvvpS9YPM5HB2f4HYiNiJVtdam.jpg
4          /7ln81BRnPR2wqxuITZxEciCe1lc.jpg
                         ...
1103449                                 NaN
1103450                                 NaN
1103451                                 NaN
1103452                                 NaN
1103453                                 NaN
Name: poster_path, Length: 1103454, dtype: object

In [560]:
# add actual poster path as a poster url column
df['poster_url'] = "https://image.tmdb.org/t/p/w500" + df['poster_path']

In [561]:
df['poster_url']

0          https://image.tmdb.org/t/p/w500/ojDg0PGvs6R9xY...
1          https://image.tmdb.org/t/p/w500/nj01hspawPof0m...
2          https://image.tmdb.org/t/p/w500/75aHn1NOYXh4M7...
3          https://image.tmdb.org/t/p/w500/3rvvpS9YPM5HB2...
4          https://image.tmdb.org/t/p/w500/7ln81BRnPR2wqx...
                                 ...
1103449                                                  NaN
1103450                                                  NaN
1103451                                                  NaN
1103452                                                  NaN
1103453                                                  NaN
Name: poster_url, Length: 1103454, dtype: object

### Create day, month, year columns so more specific analysis can be done in unique scenarios

In [ ]:
# creating separate year, month and day of week columns to make analysis more in-depth later down the line

# convert release_date to datetime format
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')

# create year,month,day columns
df['year'] = df['release_date'].dt.year.astype('Int64')
df['month'] = df['release_date'].dt.month.astype('Int64')
df['day'] = df['release_date'].dt.day_name()

# Preview the result
df[['title','year','month','day']].head(3)

                 title  year  month       day
0                Ariel  1988     10    Friday
1  Shadows in Paradise  1986     10    Friday
2           Four Rooms  1995     12  Saturday

### Show all columns that need NA values removed

In [563]:
# show all columns that do have na values inside of them
na_columns = df.columns[df.isna().any()].tolist()
na_columns

['title',
 'vote_average',
 'vote_count',
 'status',
 'release_date',
 'revenue',
 'runtime',
 'budget',
 'imdb_id',
 'original_language',
 'original_title',
 'overview',
 'popularity',
 'tagline',
 'genres',
 'production_companies',
 'production_countries',
 'spoken_languages',
 'cast',
 'director',
 'director_of_photography',
 'writers',
 'producers',
 'music_composer',
 'imdb_rating',
 'imdb_votes',
 'poster_path',
 'poster_url',
 'year',
 'month',
 'day']

### Remove all entries with missing titles (cannot be used in analysis if the movie title is unknown)

In [564]:
# handling nulls individually
# removing all rows with null in title value (19 values)
df = df.dropna(subset=['title'])

# check if title column has any null values
print(df['title'].isna().sum())

0

### Remove all values with runtime == zero as these values cant be movies with no runtime

In [565]:
# remove all rows where runtime = 0 because movies with 0 runtime are not valid
df = df[~(df['runtime'] == 0)]

### Drop imdb_id column because half the values are missing, and we already have a id column that doesnt have any missing values

In [566]:
# dont need imdb id and id columns so removing imdb_id since it contains nulls
df = df.drop(columns=['imdb_id'])

### Remove all rows with no votes for TMDBs database or IMDBs - these values havent been reviewed and are considered outliers

In [567]:
# remove all rows where vote_count = 0 and imdb_votes is null - this opens up opportunity for joining where we are missing values
df = df[~((df['vote_count'] == 0) & (df['imdb_votes'].isna()))]

### Doing a "join" on vote values so if one value is missing it grabs the value from the other column (either tmdbs votes or imdbs w/o adding when)

In [568]:
# both vote_count and imdb_votes have values so if one is null or 0 we can use the other one, if both have values we can user the higher one
df['votes'] = df[['vote_count', 'imdb_votes']].max(axis=1)
# drop vote_count and imdb_votes columns since we have combined them into votes
df = df.drop(columns=['vote_count', 'imdb_votes'])

In [569]:
# set imdb_votes to 0 if it is null
df['votes'] = df['votes'].fillna(0)
# check if imdb_votes column has any null values
print(df['votes'].isna().sum())

0

### Check quantile range on votes to see which values to remove
- This ensures only movies that have actually been viewed and voted for are considered
- This also partially takes care of biased voting and obscure entries

In [570]:
vote_cutoff = df['votes'].quantile(0.01) # around 10 votes

### Removing movies with less than 10 votes (1% of data)

In [571]:
# remove rows where vote_count is under 10 
df = df[~(df['votes'] < vote_cutoff)]

### Take the average vote ratings from imdbs and tmdbs and create a average rating column combining both

In [572]:
# take average of vote_average and imdb_rating and combine into a average_rating column
df['average_rating'] = df[['vote_average', 'imdb_rating']].mean(axis=1)
# remove vote_average and imdb_rating columns
df = df.drop(columns=['vote_average', 'imdb_rating'])

### Filter for movies with only released status then drop row 
- We want all movies to have already been released for accurate comparisons 
- This also cleans up the dataframe by gettign rid of a column

In [573]:
# remove all movies that are not "Released" - this is to ensure we only have movies that have relevant data
df = df[df['status']  == 'Released']
df.drop(columns=['status'], inplace=True) # we can remove status column safely now since Released is the only value we have

### Similar to the above column, removing all movies that were made past 2026 as we dont want to deal with these

In [574]:
# remove na values in release_date and filter out years that are not in the range of 1900 to 2025
df = df[(df['year'] >= 1900) & (df['year'] <= 2025)]

In [575]:
# show columns that still contain na values
na_columns = df.columns[df.isna().any()].tolist()
na_columns

['overview',
 'tagline',
 'genres',
 'production_companies',
 'production_countries',
 'spoken_languages',
 'cast',
 'director',
 'director_of_photography',
 'writers',
 'producers',
 'music_composer',
 'poster_path',
 'poster_url']

### Creating a weight column
- This gives us a better idea of how "good" a movie is 
- We are multiplying two key factors of a movie, the votes and the average rating
- This will give us a weight that will properly represent a movies popularity

In [576]:
# create a new column that is a weight based on the vote_count and average_rating (divided by 100 to make it more readable)
df['weight'] = ((df['votes'] * df['average_rating'])/100).round(2)

In [577]:
df.sort_values(by='weight', ascending=False).head(3)

,id,title,release_date,revenue,runtime,budget,original_language,original_title,overview,popularity,...,producers,music_composer,poster_path,poster_url,year,month,day,votes,average_rating,weight
230,278,The Shawshank Redemption,1994-09-23,2.834147e+07,142.0,25000000.0,en,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,34.8987,...,"David V. Lester, Niki Marvin, Liz Glotzer",Thomas Newman,/9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg,https://image.tmdb.org/t/p/w500/9cqNxx0GxF0bfl...,1994,9,Friday,3049541.0,9.0050,274611.17
116,155,The Dark Knight,2008-07-16,1.004558e+09,152.0,185000000.0,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,30.3764,...,"Michael Uslan, Emma Thomas, Kevin De La Noy, T...","James Newton Howard, Hans Zimmer",/qJ2tW6WMUDux911r6m7haRef0WH.jpg,https://image.tmdb.org/t/p/w500/qJ2tW6WMUDux91...,2008,7,Wednesday,3025710.0,8.7600,265052.20
16347,27205,Inception,2010-07-15,8.390306e+08,148.0,160000000.0,en,Inception,"Cobb, a skilled thief who commits corporate es...",27.7650,...,"Emma Thomas, Thomas Tull, Yoshikuni Taki, Chri...",Hans Zimmer,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,https://image.tmdb.org/t/p/w500/oYuLEt3zVCKq57...,2010,7,Thursday,2688130.0,8.5845,230762.52

### Trying to deal with outliers 
- If a movie has a large budget but zero revenue, in most cases this is because it is a test screening or unreleased
- This movie will also most likely not have any votes or a rating
- Making the movie not relevant to what I am trying to do

In [578]:
# exclude values with high budgets and 0 revenue made at the box office to avoid crazy outliers
df = df[~((df['revenue'] == 0) & (df['budget'] > 10_000_000))]

#### Creating a profit column
- This is so we have another value to use for comparisons later
- Profit of a movie is a good detemriner of how well a movie have performed
- Might consider making a "profit weight" column combining profit and rating to give another indicator on how well a movie performs

In [579]:
# add profit column by subtracting revenue from budget
df['profit_in_millions'] = ((df['revenue'] - df['budget']) / 1_000_000).round(2).astype('float64')

In [580]:
df.sort_values(by='profit_in_millions',ascending=False).head(5)

,id,title,release_date,revenue,runtime,budget,original_language,original_title,overview,popularity,...,music_composer,poster_path,poster_url,year,month,day,votes,average_rating,weight,profit_in_millions
916443,1270893,TikTok Rizz Party,2024-04-01,3.000000e+09,180.0,250000000.0,en,TikTok Rizz Party,"a band of brothers, torn apart by the constant...",0.0000,...,NaN,NaN,NaN,2024,4,Monday,1.0,10.0000,0.10,2750.00
12058,19995,Avatar,2009-12-15,2.923706e+09,162.0,237000000.0,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",26.4519,...,James Horner,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,https://image.tmdb.org/t/p/w500/kyeqWdyUXW608q...,2009,12,Tuesday,1432326.0,7.7450,110933.65,2686.71
183556,299534,Avengers: Endgame,2019-04-24,2.799439e+09,181.0,356000000.0,en,Avengers: Endgame,After the devastating events of Avengers: Infi...,23.1131,...,Alan Silvestri,/ulzhLuWrPK07P1YkdWQLZnQh1JL.jpg,https://image.tmdb.org/t/p/w500/ulzhLuWrPK07P1...,2019,4,Wednesday,1360307.0,8.3195,113170.74,2443.44
697856,980477,Ne Zha 2,2025-01-29,2.208800e+09,144.0,80000000.0,zh,哪吒之魔童闹海,"Following the Tribulation, although the souls ...",22.2524,...,"Roc Chen, Wan Pin Chu, Yang Rui",/5lUmWTGkEcYnXujixXn31o9q2T0.jpg,https://image.tmdb.org/t/p/w500/5lUmWTGkEcYnXu...,2025,1,Wednesday,11061.0,8.0000,884.88,2128.80
471,597,Titanic,1997-11-18,2.264162e+09,194.0,200000000.0,en,Titanic,101-year-old Rose DeWitt Bukater tells the sto...,35.2150,...,James Horner,/9xjZS2rlVxm8SFx8kPC3aIGCOYQ.jpg,https://image.tmdb.org/t/p/w500/9xjZS2rlVxm8SF...,1997,11,Tuesday,1341005.0,7.9000,105939.40,2064.16

 ### Removing original title to clean up dataframe and removing redundancy

In [581]:
# removing original_title column if all values in title are not null
if df['original_title'].isna().sum() == 0:
    df.drop(columns=['original_title'], inplace=True)
    print("Removed 'original_title' column as all values in 'title' are not null.")

Removed 'original_title' column as all values in 'title' are not null.

### Filling tagline and overview missing values with nothing 
- These values wont be important when it comes to modeling
- Having nothing in the row will help me if I want to do something with these values later on as it will just ignore these values

In [582]:
# add empty text to tagline and overview columns
df['tagline'] = df['tagline'].fillna('')
df['overview'] = df['overview'].fillna('')

### Removing poster_path because we already have poster_url which is the direct link to the poster

In [583]:
# remove poster_path column since we have poster_url now
df.drop(columns='poster_path', inplace=True)

### Handling all list values
- All these values have potential for multiple values
- I am converting these values into list to help with analysis later on
- Also, to deal with missing values I will add an empty list in order to clean up the dataframe

In [584]:
# list of columns with na values that I dont want to remove entirely but instead adding a list of empty values
list_like_columns = [
    'production_companies',
    'production_countries',
    'spoken_languages',
    'cast',
    'director',
    'director_of_photography',
    'writers',
    'producers',
    'music_composer',
    'genres'
]

for col in list_like_columns:
    df[col] = df[col].fillna('[]')

In [585]:
# split values in genres, production_companies, production_countries, spoken_languages, cast, director, director_of_photography, writers, producers, music_composer columns into lists
list_columns = [
    'genres',
    'production_companies',
    'production_countries',
    'spoken_languages',
    'cast',
    'director',
    'director_of_photography',
    'writers',
    'producers',
    'music_composer'
]

# function to safely convert string to list
def string_to_list(x):
    if pd.isna(x) or x == '[]' or x == '':
        return []
    # split by comma and strip whitespace, handling cases like 'Comedy, Drama'
    return [item.strip() for item in x.split(',')]

# apply the function to convert strings to lists for each column
for col in list_columns:
    df[col] = df[col].apply(string_to_list)

In [586]:
df[list_columns].head()

,genres,production_companies,production_countries,spoken_languages,cast,director,director_of_photography,writers,producers,music_composer
0,"[Comedy, Drama, Romance, Crime]",[Villealfa Filmproductions],[Finland],[suomi],"[Merja Pulkkinen, Eetu Hilkamo, Turo Pajala, E...",[Aki Kaurismäki],[Timo Salminen],[Aki Kaurismäki],[Aki Kaurismäki],[]
1,"[Comedy, Drama, Romance]",[Villealfa Filmproductions],[Finland],"[suomi, English, svenska]","[Esko Nikkari, Mari Rantasila, Marina Martinof...",[Aki Kaurismäki],[Timo Salminen],[Aki Kaurismäki],[Mika Kaurismäki],[]
2,[Comedy],"[Miramax, A Band Apart]",[United States of America],[English],"[Lili Taylor, Madonna, Tamlyn Tomita, Marc Law...","[Quentin Tarantino, Robert Rodriguez, Allison ...","[Phil Parmet, Guillermo Navarro, Andrzej Sekul...","[Quentin Tarantino, Robert Rodriguez, Allison ...","[Lawrence Bender, Quentin Tarantino, Alexandre...",[Combustible Edison]
3,"[Action, Crime, Thriller]","[Largo Entertainment, JVC, Universal Pictures]",[United States of America],[English],"[Donovan D. Ross, Lydell M. Cheshier, Denis Le...",[Stephen Hopkins],[Peter Levy],"[Lewis Colick, Jere Cunningham]","[Gene Levy, Lloyd Segan, Marilyn Vance]",[Alan Silvestri]
4,[Documentary],[inLoops],[Austria],"[English, हिन्दी, 日本語, Pусский, Español]",[],[Timo Novotny],[Wolfgang Thaler],"[Michael Glawogger, Timo Novotny]","[Ulrich Gehmacher, Timo Novotny]",[]

### Drop popularity because we already have weight and profit columns to analyze movie performance

In [587]:
df.drop(columns=['popularity'], inplace=True)  # drop popularity column since it is not needed as we have weight and ratings etc

In [588]:
# Add "No Poster Available" placeholder for movies without posters
df['poster_url'] = df['poster_url'].fillna('No Poster Available')

### Check columns to see which ones we have left

In [589]:
df.columns

Index(['id', 'title', 'release_date', 'revenue', 'runtime', 'budget',
       'original_language', 'overview', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages',
       'cast', 'director', 'director_of_photography', 'writers', 'producers',
       'music_composer', 'poster_url', 'year', 'month', 'day', 'votes',
       'average_rating', 'weight', 'profit_in_millions'],
      dtype='object')

### Check for any more missing values inside of the entire dataframe

In [590]:
# check all of the columns for na values
na_columns = df.columns[df.isna().any()].tolist()
na_columns

[]

In [591]:
print(f"Removed {initial_rows - len(df)} rows from the dataset due to various cleaning steps.")

Removed 656476 rows from the dataset due to various cleaning steps.

In [592]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 446978 entries, 0 to 1103383
Data columns (total 27 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       446978 non-null  int64
 1   title                    446978 non-null  object
 2   release_date             446978 non-null  datetime64[ns]
 3   revenue                  446978 non-null  float64
 4   runtime                  446978 non-null  float64
 5   budget                   446978 non-null  float64
 6   original_language        446978 non-null  object
 7   overview                 446978 non-null  object
 8   tagline                  446978 non-null  object
 9   genres                   446978 non-null  object
 10  production_companies     446978 non-null  object
 11  production_countries     446978 non-null  object
 12  spoken_languages         446978 non-null  object
 13  cast                     446978 non-null  object
 14  director                 446978 non-null  object
 15  director_of_photography  446978 non-null  object
 16  writers                  446978 non-null  object
 17  producers                446978 non-null  object
 18  music_composer           446978 non-null  object
 19  poster_url               446978 non-null  object
 20  year                     446978 non-null  Int64
 21  month                    446978 non-null  Int64
 22  day                      446978 non-null  object
 23  votes                    446978 non-null  float64
 24  average_rating           446978 non-null  float64
 25  weight                   446978 non-null  float64
 26  profit_in_millions       446978 non-null  float64
dtypes: Int64(2), datetime64[ns](1), float64(7), int64(1), object(16)
memory usage: 96.3+ MB

###  Conclusion

This notebook consist of a cleaning of the TMDB + IMDB movie dataset, preparing it for future exploratory data analysis, visualizations and machine learning tasks. Key steps and accomplishments include:

- **Duplicate and Irrelevant Row Removal**:
  - Removed duplicate movies based on `id`.
  - Dropped entries with missing `title`, invalid `runtime` (0), or non-"Released" status to ensure only valid, analyzable movies remain.
  - Filtered out movies with extremely low engagement (bottom 1% of `votes`) and those with nonsensical financial status (high `budget` but zero `revenue`).

- **Feature Engineering**:
  - Created a working `poster_url` field from `poster_path` and added fallback values for missing posters.
  - Extracted `year`, `month`, and day of the week from `release_date` for richer temporal analysis.
  - Merged `vote_count` and `imdb_votes` into a unified `votes` column and computed a new `average_rating` by averaging `tmdb rating` and `imdb rating`.
  - Created a `weight` metric combining vote volume and rating, and a `profit_in_millions` feature to assess movie profitability.

- **Null Handling Strategy**:
  - Used selective dropping (`title`, `release_date`) only when data was essential.
  - Imputed `tagline` and `overview` with empty strings. (potential for word analysis in these values)
  - Replaced list-like nulls in columns such as `cast`, `genres`, and `production_companies` with `'[]'`, then parsed all into proper Python lists for modeling or token analysis.

- **Column Reduction**:
  - Removed unnecessary or redundant columns such as `imdb_id`, `poster_path`, `original_title`, `vote_average`, `vote_count`, `imdb_rating`, `popularity`, and `status`.

With these steps, the dataset is now consistent, feature-rich, and eda-ready. The next stage will focus on visualizing key patterns, identifying outliers, understanding genre trends, rating distributions, and correlations across features.